<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>jupyter notebook</short>
  <description>Jupyter Notebook Server</description>
  <port protocol="tcp" port="{{ devenv_notebook_port }}"/>
</service>
